*{
    margin: 0;padding: 0 !important;
}
.bl-0{
    border-left: 0 !important;
}
.br-0{
    border-right: 0 !important;
}
.bt-0{
    border-top: 0 !important;
}
.bb-0{
    border-bottom: 0 !important;
}
nav {
    background-color: black;
    height: 10vh;
    display: flex;
    justify-content: center;
    color: aqua;
}
nav h1{
    display: flex;
    align-items: center;
}
.gameContainer{
    width: 80vw;
    display: flex;
    justify-content:center;
    
    margin-top: 5vh;
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    position: relative;
}
#line{
    position: absolute;
    background: black;
    width: 0;
    height: 3px;
    /* transition: width 1s ease-in-out; */
}
.box{
    border: 2px solid black;
    font-size: 9vw;
    display: flex;
    justify-content: center;
}

.box:hover{
    cursor: pointer;
    background-color: aqua;

}
.Info{
    font-size: 1rem;
    padding: 9px;

}

#gif{
    width: 0;
    transition: width 1s ease-in-out;
}
@media screen and (max-width: 800px){
    .gameContainer{
        flex-wrap: wrap;
    }
    /* .container{
        grid-template-rows: repeat(3, 100px);
        grid-template-columns: repeat(3, 100px);
    }
    .box{
        font-size: 60px;
    } */
}