body{
    background-color: #1f1f1f;
}
#container{
    display: flex;
    justify-content: center; 
    align-items: center;
    color: white;
}
.player{
    width: 25vw;
    font-family: cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}
.player img{
    width: 200px;

}
.key{
    margin: 30px;
}
.key span{
    padding: 15px;
    border-radius: 14px;
}
#attack{
    background-color: red;
}
#heal{
    background-color: greenyellow;
    color: black;
}
#reset{
    text-align: center;
}
#winImg{
    width: 0;
    margin-bottom: -150px;
}
#result{
    font-size: 1.5rem;
    font-weight: 900;
    color: #27ff00;
    font-family: sans-serif;
    margin: 18px;
}
button{
cursor: pointer;
background: #0051ff;
color: white;
border-radius: 10px;
padding: 9px;
font-size: 1rem;


}
button:hover{
    color: #0051ff;
    background: white;

}